/*------------------------------------------------------------------
    page title
-------------------------------------------------------------------*/
.page-title {
    position: relative;
    padding: 50px 0;
    background-color: #f5f5f5;
}

.page-title h1,
.page-title h2,
.page-title h3,
.page-title h4,
.page-title h5 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
}

.page-title span {
    display: block;
    margin-top: 5px;
    color: #929294;
}

.page-title .container {
    position: relative;
}

.page-title .breadcrumb {
    position: absolute;
    top: 50%;
    right: 30px;
    left: auto;
    width: auto;
    margin: -10px 0 0 0;
    padding: 0;
    background-color: transparent;
    font-size: 12px;
}

.page-title .breadcrumb li {
    letter-spacing: 1px;
}

.page-title .breadcrumb.box {
    margin-top: -20px; 
    padding: 15px;
    background: rgba(0, 0, 0, .5);
}

.page-title .breadcrumb.box a:hover {
    color: #fff;
}

/* ----------------------------------------------------------------
	dark page title
-----------------------------------------------------------------*/
.page-title.dark {
    background: #222;
}

.page-title.dark h1,
.page-title.dark h2,
.page-title.dark h3,
.page-title.dark h4,
.page-title.dark h5,
.page-title.dark .breadcrumb > .active {
    color: #fff;
}

.page-title.dark span {
    color: #7e7e7e;
}

.page-title.dark .breadcrumb > li + li:before {
    /*color: #7e7e7e;*/
}

.page-title.dark .breadcrumb li > a:hover {
    color: #fff;
}

/* ----------------------------------------------------------------
	no background page title
-----------------------------------------------------------------*/
.page-title.no-bg {
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5; 
    background: none;
}

/* ----------------------------------------------------------------
	 background page title
-----------------------------------------------------------------*/
.page-title.background-title {
    height: auto; 
    padding: 200px 0;
    background-image: url(../img/parallax/1.jpg);
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

/* ----------------------------------------------------------------
	 big background page title
-----------------------------------------------------------------*/
.page-title.banner-background {
    height: 630px; 
    padding: 200px 0;
    background-image: url(../img/about/02.jpg);
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

/* ----------------------------------------------------------------
	 parallax page title
-----------------------------------------------------------------*/
.page-title.parallax-title {
    height: auto; 
    padding: 200px 0;
    background-image: url(../img/parallax/2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0;
    background-size: cover;
}

/* ----------------------------------------------------------------
	 pattern page title
-----------------------------------------------------------------*/
.page-title.pattern-title {
    height: auto; 
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
}

/* ----------------------------------------------------------------
	 mini page title
-----------------------------------------------------------------*/
.page-title.mini-title {
    padding: 25px 0;
}

/* ----------------------------------------------------------------
	 center page title
-----------------------------------------------------------------*/
.page-title.page-title-center {
    text-align: center;
}

.page-title.page-title-center .breadcrumb {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    margin: 20px 0 0 0;
}

/* ----------------------------------------------------------------
     right page title
-----------------------------------------------------------------*/
.page-title.page-title-right {
    text-align: right;
}

.page-title.page-title-right .breadcrumb {
    right: auto; 
    left: 30px;
}

/*------------------------------------------------------------------
    featured border boxes
-------------------------------------------------------------------*/
.featured-item .icon {
    padding: 0 0 30px 0;
}

.featured-item .icon i {
    font-size: 36px;
}

.featured-item .title h4 {
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: normal;
}

.featured-item .desc {
    color: #7e7e7e;
}

.featured-item.border-box {
    margin-bottom: -1px; 
    margin-left: -1px;
    padding: 50px;
    border: 1px solid #f2f2f2;
}

.featured-item.border-box:hover {
    color: #7e7e7e; 
    border: 1px solid transparent;
    background: #222;
}

.featured-item.border-box:hover h4 {
    color: #fff;
}

.featured-item.border-box,
.featured-item.border-box:hover,
.featured-item.border-box h4,
.featured-item.border-box:hover h4,
.featured-item.border-box .icon i
.featured-item.border-box:hover .icon i {
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}

.feature-box-grid {
    padding-right: 15px; 
    padding-left: 15px;
}

.feature-box-grid .col-lg-1,
.feature-box-grid .col-lg-10,
.feature-box-grid .col-lg-11,
.feature-box-grid .col-lg-12,
.feature-box-grid .col-lg-2,
.feature-box-grid .col-lg-3,
.feature-box-grid .col-lg-4,
.feature-box-grid .col-lg-5,
.feature-box-grid .col-lg-6,
.feature-box-grid .col-lg-7,
.feature-box-grid .col-lg-8,
.feature-box-grid .col-lg-9,
.feature-box-grid .col-md-1,
.feature-box-grid .col-md-10,
.feature-box-grid .col-md-11,
.feature-box-grid .col-md-12,
.feature-box-grid .col-md-2,
.feature-box-grid .col-md-3,
.feature-box-grid .col-md-4,
.feature-box-grid .col-md-5,
.feature-box-grid .col-md-6,
.feature-box-grid .col-md-7,
.feature-box-grid .col-md-8,
.feature-box-grid .col-md-9,
.feature-box-grid .col-sm-1,
.feature-box-grid .col-sm-10,
.feature-box-grid .col-sm-11,
.feature-box-grid .col-sm-12,
.feature-box-grid .col-sm-2,
.feature-box-grid .col-sm-3,
.feature-box-grid .col-sm-4,
.feature-box-grid .col-sm-5,
.feature-box-grid .col-sm-6,
.feature-box-grid .col-sm-7,
.feature-box-grid .col-sm-8,
.feature-box-grid .col-sm-9,
.feature-box-grid .col-xs-1,
.feature-box-grid .col-xs-10,
.feature-box-grid .col-xs-11,
.feature-box-grid .col-xs-12,
.feature-box-grid .col-xs-2,
.feature-box-grid .col-xs-3,
.feature-box-grid .col-xs-4,
.feature-box-grid .col-xs-5,
.feature-box-grid .col-xs-6,
.feature-box-grid .col-xs-7,
.feature-box-grid .col-xs-8,
.feature-box-grid .col-xs-9 {
    padding-right: 0; 
    padding-left: 0;
}

/* ----------------------------------------------------------------
    feature parallax
-----------------------------------------------------------------*/
.feature-parallax {
    background-image: url("../img/parallax/2.jpg");
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
}

.feature-parallax .page-content {
    padding: 100px 0;
}

.feature-parallax.dark,
.feature-parallax.dark .featured-item .title h4,
.feature-parallax.dark .featured-item .desc {
    color: #fff;
}

.featured-item .bottom-border i {
    display: inline-block; 
    padding-bottom: 30px;
    border-bottom: 2px solid;
}

/* ----------------------------------------------------------------
    feature outline
-----------------------------------------------------------------*/
.featured-item.feature-outline {
    position: relative;
    padding: 0 0 0 80px;
}

.featured-item.feature-outline .icon {
    position: absolute;
    top: 0;
    left: 0; 
    display: block;
}

/* ----------------------------------------------------------------
    feature border box
-----------------------------------------------------------------*/
.feature-border-box {
    position: relative;
    padding: 30px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
}

.feature-border-box,
.feature-border-box:hover .icon {
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}

.feature-border-box .icon {
    position: absolute;
    top: -30px;
    left: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 4px;
    background: #222;
    box-shadow: 0 0 0 10px #fff; 
    line-height: 60px;
}

.featured-item.feature-border-box .icon i {
    color: #fff;
    font-size: 30px;
    line-height: 60px;
}

.feature-border-box .title {
    display: inline-block; 
    margin-top: 30px;
}

/* ----------------------------------------------------------------
    feature bg box
-----------------------------------------------------------------*/
.feature-bg-box {
    position: relative;
    margin-bottom: 100px; 
    padding: 30px;
    border-radius: 4px;
}

.gray-bg {
    background: #f6f6f6;
}

.feature-bg-box,
.feature-bg-box:hover .icon {
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}

.feature-bg-box .icon {
    position: absolute;
    top: -40px;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 0 5px #f6f6f6; 
    line-height: 80px;
}

.featured-item.feature-bg-box .icon i {
    color: #808184;
    font-size: 30px;
    line-height: 80px;
}

.feature-bg-box .title {
    display: inline-block; 
    margin-top: 40px;
}

/**/
.featured-box .one-third {
    float: left;
    width: 33.3333333%;
    padding: 10px 0;
}

.featured-box .one-third:nth-child(2) {
    padding: 10px 10px;
}

.featured-box .one-third .featured-item {
    min-height: 360px; 
    padding: 15% 20%;
}

.featured-box .one-third .featured-item,
.featured-box .one-third .featured-item h4,
.featured-box .one-third .featured-item .desc {
    color: #fff;
}

.color-1 {
    background: #a8babc;
}

.color-2 {
    background: #a0aa95;
}

.color-3 {
    background: #c5c2be;
}

.height-fix {
    height: 300px;
}

.featured-item .number {
    color: #e1e1e1;
    font-size: 36px;
    /*font-family: 'Abel', sans-serif;*/
    font-weight: normal;
}

.featured-item.feature-outline.right {
    position: relative;
    padding: 0 80px 0 0;
}

.featured-item.feature-outline.right .icon {
    position: absolute;
    top: 0;
    right: 0; 
    display: block;
}

/*------------------------------------------------------------------
    accordions
-------------------------------------------------------------------*/
.accordion > dt {
    margin-bottom: 10px;
    letter-spacing: .2em; 
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.accordion.time-line > dt > a {
    background: none;
}

.accordion > dt > a {
    position: relative;
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    /*font-family: 'Abel', sans-serif;*/
    letter-spacing: 2px; 
    color: #222;
    border: 1px solid #e8e8e8;
    background: #e8e8e8;
}

.accordion > dt > a:hover {
    text-decoration: none;
}

.accordion > dt > a:hover,
.accordion > dt > a.active {
    cursor: pointer; 
    color: #fff;
    border-color: #222;
    background: #222;
}

.accordion > dt > a:after {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 15px;
    height: 15px;
    margin-top: -8px;
    content: "\e648";
    text-align: center;
    text-transform: none;
    color: #696969;
    font-family: "icomoon";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 15px;

    -webkit-font-smoothing: antialiased; 
    speak: none;
}

.accordion > dt > a.active:after,
.accordion > dt > a.active:hover:after {
    content: "\e641";
    color: #fff;
}

.accordion > dt > a:hover:after {
    color: #fff;
}

.accordion > dd {
    margin-bottom: 10px;
    padding: 10px 20px 20px;
    color: #777; 
    font-size: 14px;
    line-height: 1.8;
}

.accordion > dt > a,
.accordion > dt > a:after,
.toggle > dt > a,
.toggle > dt > a:after {
    -webkit-transition: all .27s cubic-bezier(0, 0, .58, 1);
            transition: all .27s cubic-bezier(0, 0, .58, 1);
}

/*------------------------------------------------------------------
    timeline accordions
-------------------------------------------------------------------*/
dl.accordion.time-line {
    position: relative;
}

dl.accordion.time-line:before {
    position: absolute;
    z-index: 0; 
    top: 25px;
    bottom: 10px;
    left: 15px;
    content: "";
    border-left: 1px dashed #cecece;
}

.accordion.time-line > dd {
    margin-bottom: 10px;
    padding: 10px 20px 20px 40px;
    color: #777; 
    font-size: 14px;
    line-height: 1.8;
}

.accordion.time-line > dt > a:after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    padding-left: 3px; 
    content: "\e648";
    text-align: center;
    text-transform: none;
    color: #fff;
    background: #222;
    font-family: "icomoon";
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
    line-height: 30px;

    -webkit-font-smoothing: antialiased;
    speak: none;
}

.accordion.time-line > dt > a.active:after,
.accordion.time-line > dt > a.active:hover:after {
    content: "\e641";
    color: #fff;
}

.accordion.time-line > dt > a {
    position: relative;
    display: block;
    padding: 14px 20px 14px 40px;
    text-decoration: none;
    /*font-family: 'Abel', sans-serif;*/
    letter-spacing: 2px; 
    color: #222;
    border: none;
}

.accordion.time-line > dt > a:hover,
.accordion.time-line > dt > a.active {
    background: none !important;
}
